* {
  z-index: 2;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 100% 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

:root {
  --black: #21222c;
  --blackSecondary: #414558;
  --blackTernary: #a7abbe;
  --blackLight: hsla(230, 15%, 15%, 5%);
  --white: #f8f8f2;
  --whiteSecondary: #fff;
  --whiteLight: hsla(60, 30%, 96%, 5%);
  --cyan: #80ffea;
  --cyanSecondary: #ccfff6;
  --cyanLight: hsla(170, 100%, 75%, 5%);
  --green: #8aff80;
  --greenSecondary: #d0ffcc;
  --greenLight: hsla(115, 100%, 75%, 5%);
  --orange: #ffca80;
  --orangeSecondary: #ffeacc;
  --orangeLight: hsla(35, 100%, 75%, 5%);
  --pink: #ff80bf;
  --pinkSecondary: #ffcce6;
  --pinkLight: hsla(330, 100%, 75%, 5%);
  --purple: #9580ff;
  --purpleSecondary: #d5ccff;
  --purpleLight: hsl(250, 100%, 75%, 5%);
  --red: #ff9580;
  --redSecondary: #ffd5cc;
  --redLight: hsla(10, 100%, 75%, 5%);
  --yellow: #ffff80;
  --yellowSecondary: #ffc;
  --yellowLight: hsla(60, 100%, 75%, 5%);
  --cyan-transparent: rgba(128, 255, 234, 0.1);
  --green-transparent: rgba(138, 255, 128, 0.1);
  --orange-transparent: rgba(255, 202, 128, 0.1);
  --pink-transparent: rgba(255, 128, 191, 0.1);
  --purple-transparent: rgba(149, 128, 255, 0.1);
  --red-transparent: rgba(255, 149, 128, 0.1);
  --yellow-transparent: rgba(255, 255, 128, 0.1);
  --disabled: #6c7393;
  --gradientDegree: 135deg;
  --glowColor: hsla(0, 0%, 100%, 0.25);
  --cyan-100: rgba(128, 255, 234, 0.1);
  --green-100: rgba(138, 255, 128, 0.1);
  --orange-100: rgba(255, 202, 128, 0.1);
  --pink-100: rgba(255, 128, 191, 0.1);
  --purple-100: rgba(149, 128, 255, 0.1);
  --red-100: rgba(255, 149, 128, 0.1);
  --yellow-100: rgba(255, 255, 128, 0.1);
  --cyan-200: rgba(128, 255, 234, 0.2);
  --green-200: rgba(138, 255, 128, 0.2);
  --orange-200: rgba(255, 202, 128, 0.2);
  --pink-200: rgba(255, 128, 191, 0.2);
  --purple-200: rgba(149, 128, 255, 0.2);
  --red-200: rgba(255, 149, 128, 0.2);
  --yellow-200: rgba(255, 255, 128, 0.2);
  --cyan-300: rgba(128, 255, 234, 0.3);
  --green-300: rgba(138, 255, 128, 0.3);
  --orange-300: rgba(255, 202, 128, 0.3);
  --pink-300: rgba(255, 128, 191, 0.3);
  --purple-300: rgba(149, 128, 255, 0.3);
  --red-300: rgba(255, 149, 128, 0.3);
  --yellow-300: rgba(255, 255, 128, 0.3);
  --cyan-400: rgba(128, 255, 234, 0.4);
  --green-400: rgba(138, 255, 128, 0.4);
  --orange-400: rgba(255, 202, 128, 0.4);
  --pink-400: rgba(255, 128, 191, 0.4);
  --purple-400: rgba(149, 128, 255, 0.4);
  --red-400: rgba(255, 149, 128, 0.4);
  --yellow-400: rgba(255, 255, 128, 0.4);
  --cyan-500: rgba(128, 255, 234, 0.5);
  --green-500: rgba(138, 255, 128, 0.5);
  --orange-500: rgba(255, 202, 128, 0.5);
  --pink-500: rgba(255, 128, 191, 0.5);
  --purple-500: rgba(149, 128, 255, 0.5);
  --red-500: rgba(255, 149, 128, 0.5);
  --yellow-500: rgba(255, 255, 128, 0.5);
  --cyan-600: rgba(128, 255, 234, 0.6);
  --green-600: rgba(138, 255, 128, 0.6);
  --orange-600: rgba(255, 202, 128, 0.6);
  --pink-600: rgba(255, 128, 191, 0.6);
  --purple-600: rgba(149, 128, 255, 0.6);
  --red-600: rgba(255, 149, 128, 0.6);
  --yellow-600: rgba(255, 255, 128, 0.6);
  --cyan-700: rgba(128, 255, 234, 0.7);
  --green-700: rgba(138, 255, 128, 0.7);
  --orange-700: rgba(255, 202, 128, 0.7);
  --pink-700: rgba(255, 128, 191, 0.7);
  --purple-700: rgba(149, 128, 255, 0.7);
  --red-700: rgba(255, 149, 128, 0.7);
  --yellow-700: rgba(255, 255, 128, 0.7);
  --cyan-800: rgba(128, 255, 234, 0.8);
  --green-800: rgba(138, 255, 128, 0.8);
  --orange-800: rgba(255, 202, 128, 0.8);
  --pink-800: rgba(255, 128, 191, 0.8);
  --purple-800: rgba(149, 128, 255, 0.8);
  --red-800: rgba(255, 149, 128, 0.8);
  --yellow-800: rgba(255, 255, 128, 0.8);
  --cyan-900: rgba(128, 255, 234, 0.9);
  --green-900: rgba(138, 255, 128, 0.9);
  --orange-900: rgba(255, 202, 128, 0.9);
  --pink-900: rgba(255, 128, 191, 0.9);
  --purple-900: rgba(149, 128, 255, 0.9);
  --red-900: rgba(255, 149, 128, 0.9);
  --yellow-900: rgba(255, 255, 128, 0.9);
  --accentColor: var(--purple);
  --purple-cyan: linear-gradient(
    var(--gradientDegree),
    var(--purple) 0%,
    var(--cyan) 100%
  );
  --yellow-pink: linear-gradient(
    var(--gradientDegree),
    var(--yellow) 0%,
    var(--pink) 100%
  );
  --cyan-green: linear-gradient(
    var(--gradientDegree),
    var(--cyan) 0%,
    var(--green) 100%
  );
  --pink-purple: linear-gradient(
    var(--gradientDegree),
    var(--pink) 0%,
    var(--purple) 100%
  );
}

body {
  background: url("../../image/71sPcn3.jpg") 0 / cover fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

.chino-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.chino_footer__108BV {
  background: #22212c;
  padding: 50px 10px;
  flex: 1 1;
  display: -moz-box;
  display: flex;
  -moz-box-align: end;
  align-items: flex-end;
  -moz-box-pack: center;
  justify-content: center;
}

.chino-text {
  font-size: 1rem;
}

.credits {
  text-align: center;
  font-size: 1.4em;
  margin: 0;
  font-family: "Pacifico", cursive;
}

.credits a {
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.chino-text-purple-cyan {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--gradientDegree)),
    color-stop(0, var(--purple)),
    to(var(--cyan))
  );
  background-image: -webkit-linear-gradient(
    var(--gradientDegree),
    var(--purple) 0,
    var(--cyan) 100%
  );
  background-image: linear-gradient(
    var(--gradientDegree),
    var(--purple) 0,
    var(--cyan) 100%
  );
  background-size: 100%;
  -webkit-box-decoration-break: clone;
}

.chino-text-cyan-green {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--gradientDegree)),
    color-stop(0, var(--cyan)),
    to(var(--green))
  );
  background-image: -webkit-linear-gradient(
    var(--gradientDegree),
    var(--cyan) 0,
    var(--green) 100%
  );
  background-image: linear-gradient(
    var(--gradientDegree),
    var(--cyan) 0,
    var(--green) 100%
  );
  background-size: 100%;
  -webkit-box-decoration-break: clone;
}

.chino-text-red-white {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--gradientDegree)),
    color-stop(0, var(--red)),
    to(var(--white))
  );
  background-image: -webkit-linear-gradient(
    var(--gradientDegree),
    var(--red) 0,
    var(--white) 100%
  );
  background-image: linear-gradient(
    var(--gradientDegree),
    var(--red) 0,
    var(--white) 100%
  );
  background-size: 100%;
  -webkit-box-decoration-break: clone;
}

.chino-anchor {
  text-decoration: none;
}

.chino-text.chino-text-lg {
  font-size: 1.125rem;
}

.chino-line-height {
  line-height: 1.375;
}

.chino-text-white {
  color: #fff;
}

.chino-text-pink {
  color: #ff79c6;
}

.chino-text-purple {
  color: #bd93f9;
}

.chino-info-app {
  background-color: rgba(16 18 27 / 40%);
  overflow: hidden;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 500;
}

.chino_topbar__L5rVl {
  background: #282a36;
  display: -moz-box;
  display: flex;
  color: #fff;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
  -moz-box-pack: justify;
  justify-content: space-between;
}

.chino_topbar_a {
  color: #f2f2f2;
  font-weight: 400;
  position: relative;
  padding-bottom: 8px;
  text-decoration: none;
}

.chino_topbar_a:before,
.chino_topbar_a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #bd93f9;
}

.chino_topbar_a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: -webkit-transform 0s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}

.chino_topbar_a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition: -webkit-transform 0.2s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}

.chino_topbar_a:hover:before,
.chino_topbar_a:hover:after,
.chino_topbar_a:focus:before,
.chino_topbar_a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.chino_topbar_a:hover:before,
.chino_topbar_a:focus:before {
  -webkit-transition: -webkit-transform 0.2s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}

.chino_topbar_a:hover:after,
.chino_topbar_a:focus:after {
  -webkit-transition: -webkit-transform 0s 0.2s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
}

.chino_napthe_container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}

.chino_napthe_box {
  border: 3px solid #50fa7b;
  padding: 12px 12px;
  background: #1d1e26;
  margin-bottom: 20px;
}

.chino-rounded-2xl {
  border-radius: 1rem;
}

.chino-mac-app {
  background-color: rgba(16 18 27 / 40%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 500;
}

.chino-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px;
  white-space: nowrap;
}

@media screen and (max-width: 480px) {
  .chino-header {
    padding: 0 16px;
  }
}

.chino-circle {
  width: 15px;
  height: 15px;
  background-color: #f96057;
  border-radius: 50%;
  box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
  margin-right: 195px;
  flex-shrink: 0;
}

@media screen and (max-width: 945px) {
  .chino-circle {
    display: none;
  }
}

.chino-cursive {
  font-family: "Pacifico", cursive;
}

.chino_cta__25TPv {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  background: #50fa7b;
  text-align: center;
  color: #2a2c37;
  font-size: 18px;
}

.chino_cta__25TPv:focus,
.chino_cta__25TPv:hover {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #50fa7b;
  box-shadow: 0 0.5em 0.5em -0.4em #50fa7b;
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chino_title {
  text-align: center;
  margin-bottom: 75px;
  font-family: "Pacifico", cursive;
}

.chino_title .chino_separate {
  position: relative;
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 40px;
  line-height: 1.3;
  text-transform: capitalize;
  color: #007bff;
}

.chino_title .chino_separate:after {
  background: url("https://goodsroblox.com/assets/img/title-after.png")
    no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
  width: 100%;
  content: "";
  bottom: 0px;
  max-width: 385px;
  margin: 0 auto;
}

.chino-2b097c-container {
  position: relative;
  box-sizing: border-box;
}

.chino-dk8gsy-control {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(29, 30, 38);
  border-color: rgb(80, 250, 123);
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  position: relative;
  transition: all 100ms ease 0s;
  box-sizing: border-box;
  outline: 0px !important;
}

.chino-1hwfws3 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.chino-1wy0on6 {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
}

.chino-291f6s-indicatorSeparator {
  align-self: stretch;
  background-color: rgb(80, 250, 123);
  margin-bottom: 8px;
  margin-top: 8px;
  width: 1px;
  box-sizing: border-box;
}

.chino-151riis-indicatorContainer {
  color: rgb(80, 250, 123);
  display: flex;
  padding: 8px;
  transition: color 150ms ease 0s;
  box-sizing: border-box;
}

.chino-19bqh2r {
  display: inline-block;
  fill: currentcolor;
  line-height: 1;
  stroke: currentcolor;
  stroke-width: 0;
}

.chino-nav-btn {
  position: relative;
  color: #fff;
  padding: 0 1rem;
}

.chino-nav-btn:before {
  content: "";
  width: 90%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 5%;
  background: #ff6060;
  z-index: -1;
  transition: height 0.05s ease-out;
}

.chino-nav-btn:hover:before {
  height: 35px;
  color: #ff6060;
  transition: height 0.1s ease-in;
}

.hotline-phone-ring-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
}

.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility 0.5s;
  left: 0;
  bottom: 0;
  display: block;
}

.hotline-phone-ring-circle {
  width: 85px;
  height: 85px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}

.hotline-phone-ring-circle-fill {
  width: 55px;
  height: 55px;
  top: 25px;
  left: 25px;
  position: absolute;
  background-color: rgba(230, 8, 8, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.hotline-phone-ring-img-circle {
  background-color: #e60808;
  width: 33px;
  height: 33px;
  top: 37px;
  left: 37px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotline-phone-ring-img-circle .pps-btn-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hotline-phone-ring-img-circle .pps-btn-img img {
  width: 20px;
  height: 20px;
}

.hotline-bar {
  position: absolute;
  background: rgba(230, 8, 8, 0.75);
  height: 40px;
  width: 160px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  /* width: 175px !important; */
  left: 33px;
  bottom: 37px;
}

.hotline-bar > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-indent: 50px;
  display: block;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: Arial;
}

.hotline-bar > a:hover,
.hotline-bar > a:active {
  color: #fff;
}

@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }

  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }

  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }

  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

@media (max-width: 768px) {
  .hotline-bar {
    display: none;
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  border: 1px solid white;
  background-color: white;
  background: #000000;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5 em;
  padding: 0.5 em 1 em;
  margin-left: 2 px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: white !important;
  border: 1 px solid transparent;
  border-radius: 2 px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: white !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.vYLZYqQ {
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}

.vYLZYqQ:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.vYLZYqQ:nth-child() {
  filter: hue-rotate(270deg);
}

.vYLZYqQ span {
  position: absolute;
  display: block;
}

.vYLZYqQ span:nth-child() {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

footer {
  width: 100vw;
  bottom: 0px;
}

footer div {
  background-color: var(--col-deepblue);
  margin: -5px 0px 0px 0px;
  padding: 0px;
  color: #fff;
  text-align: center;
}

svg {
  width: 100%;
  overflow: visible;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: #1b1a1a;
}

.drop {
  fill: var(--col-deepblue);
  xfill: #99000055;
  animation: drop 3.2s linear infinite normal;
  stroke: var(--col-deepblue);
  stroke-width: 0.5;
  transform: translateY(25px);
  transform-box: fill-box;
  transform-origin: 50% 100%;
}

.drop1 {
}

.drop2 {
  animation-delay: 3s;
  animation-duration: 3s;
}

.drop3 {
  animation-delay: -2s;
  animation-duration: 3.4s;
}

.drop4 {
  animation-delay: 1.7s;
}

.drop5 {
  animation-delay: 2.7s;
  animation-duration: 3.1s;
}

.drop6 {
  animation-delay: -2.1s;
  animation-duration: 3.2s;
}

.gooeff {
  filter: url(#goo);
}

#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.6;
}

#wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}

@keyframes drop {
  0% {
    transform: translateY(25px);
  }

  30% {
    transform: translateY(-10px) scale(0.1);
  }

  30.001% {
    transform: translateY(25px) scale(1);
  }

  70% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(-10px) scale(0.1);
  }
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}

.bg-box-dark {
  background: rgb(0 0 0 / 73%);
}

.block2 {
  position: relative;
  background: #27272a;
}

.block2:before,
.block2:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.block2:after {
  filter: blur(50px);
}

.gradient-border {
  margin-bottom: 20px;
  --borderWidth: 3px;
  background: #fff;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-fill {
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

  /* Clip Background Image */

  background: url("../../image/animated-text-fill.png") repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

#totop,
#totop2 {
  position: fixed;
  right: 0;
  bottom: 10px;
  width: 149px;
  height: 249px;
  overflow: hidden;
  cursor: pointer;
  display: none;
  background: url("assets/img/up.png") no-repeat 0px 0;
  z-index: 9999;
}

#totop2 {
  background: url("assets/img/up.png") no-repeat -149px 0;
}

@keyframes linear {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 200px 0;
  }
}

@keyframes radial {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 60px;
  }
}

@keyframes repeating {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 85px;
  }
}

@keyframes electronic {
  0%,
  100% {
    background-position: 20px -30px;
  }

  25% {
    background-position: 150px 5px;
  }

  50% {
    background-position: 20px 40px;
  }

  75% {
    background-position: -100px 5px;
  }
}

.biliboard-border {
  display: block;
  margin: auto;
  margin-top: 50px;
  text-decoration: none;
  color: inherit;
}

.biliboard {
  text-align: center;
  position: relative;
  background: #fff;
}

.biliboard:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  transform: scale(1.02, 1.08);
  position: absolute;
  background: #f00;
  background: linear-gradient(
    90deg,
    #fafafa,
    #fafafa,
    #1d8ef7,
    #fafafa,
    #fafafa
  );
  background-position: 55px 0;
  top: 0;
  animation: linear 1s infinite linear;
  left: 0;
  z-index: -1;
}

.biliboard.radial:before {
  background: radial-gradient(#fafafa, #fafafa, #f2a61a, #fafafa, #fafafa);
  animation: radial 1s infinite linear;
}

.biliboard.repeating:before {
  background: repeating-linear-gradient(
      -45deg,
      #fafafa,
      #fafafa 30px,
      #00afdb 30px,
      #00afdb 60px
    )
    fixed;
  animation: repeating 1s infinite linear;
}

.biliboard.electronic:before {
  background: radial-gradient(
      #ea238d,
      #ea238d,
      #ea238d,
      #ea238d,
      #fafafa,
      #fafafa
    )
    no-repeat;
  background-size: 150px 50px;
  animation: electronic 2s infinite linear;
}

.vuarobux-box {
  background: #333;
  border-radius: 5px;
  box-shadow: 0 0 15px #99ffff, inset 0 0 6px #99ffff;
}

.vuarobux-text {
  font-family: "Sriracha", cursive;
  color: white;
  text-align: center;
}

.vuarobux-title {
  text-shadow: -1px 1px 6px lightredenrodyellow;
  font-family: "Sriracha", cursive;
  color: white;
  text-align: center;
}

.vuarobux-box-top {
  background: #222;
  transform: skewY(362deg);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 15px #ff0066, inset 0 0 6px #ff0066;
  padding-right: 15px;
  transition: all 2s;
}

.vuarobux-box-top:hover {
  transition: all 2s;
  transform: skewY(357deg);
  box-shadow: 0 0 15px #ff0066, inset 0 0 6px #ff0066;
}

.uppercase.vuarobux-box:hover {
  transition: all 1s;
  transform: translateY(-5px);
}

.uppercase.vuarobux-box:active {
  transition: all 1s;
  transform: scale(0.95);
}

.uppercase.vuarobux-box {
  transition: all 1s;
}

.vuarobux-title-two {
  font-family: "Cousine", monospace;
  color: white;
  text-align: center;
  text-shadow: -1px 1px 6px lightredenrodyellow;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid red;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
}

#button-6 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-6 a {
  position: relative;
  transition: all 0.45s ease-Out;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all 0.5s ease-Out;
}

#button-6:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #bfc0c0;
  transform: rotate(80deg);
}

#button-6:hover a {
  color: red;
}

.buy-button {
  background: #222;
  transform: scale(1.1);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 15px red, inset 0 0 6px darkred;
  padding-right: 15px;
  transition: all 2s;
}

.buy-button:hover {
  padding-left: 25px;
  padding-right: 25px;
  transform: translateY(-5px);
  box-shadow: 0 0 15px redenrod, inset 0 0 6px red;
}

.vuarobux-img {
  background: #222;
  transform: scale(0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px red, inset 0 0 6px darkred;
  transition: all 2s;
}

.lr-btn {
  transition: all 0.75s;
  text-shadow: 0 0 12px #99ffff;
  color: black;
  box-shadow: 0 0 10px black;
  background: white;
  border: unset;
  border-radius: 4px;
  transform: skewX(-10deg);
  text-align: center;
  margin: 7.5px;
  max-width: 250px;
}

.lr-btn:hover {
  transition: all 0.75s;
  text-shadow: 0 0 10px #69ffc5d1;
  color: white;
  box-shadow: 0 0 15px #99ffff, inset 0 0 6px #99ffff;
  background: #99ffff;
  border-radius: 6px;
  transform: skewX(10deg);
  text-align: center;
}
